.love-letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #800000;
  font-family: "Dancing Script", cursive;
}

.love-letter h2 {
  font-size: 32px;
  width: 85%;
  text-align: left;
  margin-bottom: 8px; /* reduced gap */
  color: #800000;
}

.letter-border {
  border: 2px dotted #800000;
  border-radius: 10px;
  width: 85%;
  background-color: #ffe6e6;
  padding: 15px 20px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.letter-border.open {
  background: #ffe6e6;
}

.letter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.left-text {
  font-family: "Times New Roman", cursive;
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
}

.right-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.click-text {
  font-size: 16px;
  opacity: 0.9;
}

.heart {
  animation: beat 1s infinite;
  color: #800000;
  display: inline-block;
}

@keyframes beat {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.3); }
}

.letter-content {
  font-size: 17px;
  line-height: 1.6;
  text-align: left;
  color: #800000;
  font-family: "Dancing Script", cursive;
  transition: all 0.5s ease;
}

.letter-content p {
  margin: 0;
}
